.user-actions {
    display: flex;
    justify-content: end;
}

.add-edit-user-modal .edit-user-header {
    text-decoration: underline;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 10px;
}
