@page "/dashboardviewa"

@using eVourcher.Services;
@using System.Linq;
@using Microsoft.AspNetCore.Components;
@using System;
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using eVoucher.Pages.Games;
@using eVoucher.Models

@inherits OwningComponentBase<MainLayout>
@inject UserService UserService

@inject ICampaignService CampaignService;

<Div>Hello</Div>

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    
    <BarMenu>
        <BarStart>
            
            <BarItem>
                <BarLink To="#">Ẩm thực</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#">Thức uống</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#">Sức khỏe</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#">Công nghệ</BarLink>
            </BarItem>
        </BarStart>
       
    </BarMenu>
</Bar>

