<Div Class="report-view">
    <Div Class="evoucher-header report-header">
        <Field TextAlignment="TextAlignment.Center" Margin="Margin.Is2.FromTop.FromBottom"><h5>REPORT CENTER</h5></Field>
        <Row Class="report">
            <Column ColumnSize="ColumnSize.Is6" Class="campaign-total-report">
                <Div>
                    <Div Class="header">Total of Campaigns</Div>
                    <Div Class="row created-filter">
                        <Column ColumnSize="ColumnSize.IsAuto">
                            <Field Margin="Margin.Is0.FromBottom">Created From:</Field>
                            <DatePicker TValue="DateTime?" Placeholder="dd/mm/yyyy" @bind-Date="@CampaignCreatedFrom"></DatePicker>
                        </Column>
                        <Column ColumnSize="ColumnSize.IsAuto">
                            <Field Margin="Margin.Is0.FromBottom">Created To:</Field>
                            <DatePicker TValue="DateTime?" Placeholder="dd/mm/yyyy" @bind-Date="@CampaignCreatedTo"></DatePicker>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is2">
                            <Button Color="Color.Primary" Clicked="OnCampaignReportChanged">View Report</Button>
                        </Column>
                    </Div>
                </Div>
                <Chart @ref="barChart" Type="ChartType.Bar" TItem="int" Clicked="@OnClicked" />
            </Column>
            <Column ColumnSize="ColumnSize.Is6" Class="campaign-total-report">
                <Div Class="header">Total of Vouchers</Div>
                <Chart @ref="voucherReportChart" Type="ChartType.Bar" TItem="int" Clicked="@OnClicked" />
            </Column>
        </Row>
    </Div>
</Div>