@page "/partnershopee"
<Div   >


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppe Fake</title>
</head>

<body>
    <main style="max-width: 1200px; margin: 0 auto;">
        <header style="margin-bottom: 50px;">
            <nav style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                <div>
                    <img src="https://shopeefood.vn/app/assets/img/shopeefoodvn.png?4aa1a38e8da801f4029b80734905f3f7"
                         width="100%" height="100%" alt="">
                </div>
                <div style="flex: 1; margin-left: 100px;">
                    <select style="width: 40%; padding: 10px;">
                        <option>HCM</option>
                        <option>HCM</option>
                        <option>HCM</option>
                        <option>HCM</option>
                        <option>HCM</option>
                    </select>
                </div>
                <div style="flex: 2;">
                    <ul style="display: flex; list-style: none; align-items: center;">
                        <li style="margin-right: 50px; background-color: orange; padding: 10px; border-radius: 4px;">
                            Đồ
                            ăn
                        </li>
                        <li style="margin-right: 50px;">Thức uống</li>
                        <li>Mua sắm</li>
                    </ul>
                </div>
            </nav>
            <div style="width: 100%;">
                <input type="text" placeholder="Tìm kiếm..." style="padding:10px; font-size: 16px; width: 50%;" />
            </div>
        </header>
        <section>
            <div style="display: flex; flex-wrap: wrap;">
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
                <div style="margin: 10px; background-color: wheat; border-radius: 4px;">
                    <div>
                        <img src="https://images.foody.vn/res/g70/692723/prof/s280x175/file_restaurant_photo_9crv_16379-b337f388-211126184753.jpg" />
                    </div>
                    <p>Milano Coffee - Lê Đại Hành</p>
                    <p>71 Lê Đại Hành, P. 6, Quận 11, TP. HCM</p>
                </div>
            </div>
        </section>
    </main>
</body>
</Div>
@code {

}
