@using static eVoucher.Models.DataType;
<Modal @ref="modalRef">
    <ModalContent Centered Size="ModalSize.Fullscreen">
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton />
        </ModalHeader> 
        <ModalBody> 
            @if (Partner is not null)
            {
                <Field Class="edit-user-header">Partner Information:</Field>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit @bind-Text="@Partner.CompanyName" Placeholder="Enter first name..." />
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <TextEdit @bind-Text="Partner.Description" Placeholder="Enter last name..." />
                </Field>
                <Field>
                    <FieldLabel>Join Date</FieldLabel>
                    <DateEdit TValue="DateTime?" @bind-Date=Partner.JoinDate />
                </Field>
                <Fields>
                    <Field>
                        <FieldLabel>Company Email address</FieldLabel>
                        <TextEdit @bind-Text="Partner.CompanyEmailAddress" Placeholder="Enter company email address..." />
                    </Field>
                    <Field>
                        <FieldLabel>Company Phone number</FieldLabel>
                        <TextEdit @bind-Text="Partner.CompanyPhone" Placeholder="Enter company phone number...">
                            <FieldHelp>Include country and area prefixes</FieldHelp>
                        </TextEdit>
                    </Field>
                </Fields>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@UpdateData">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
