<Modal @ref="@deleteModalRef">
    <ModalContent Centered Size="ModalSize.Small">
        <ModalHeader>
            <ModalTitle>Delete partner</ModalTitle>
            <CloseButton />
        </ModalHeader> 
        <ModalBody> 
            <Field>
                <FieldLabel>Do you want to delete this partner?</FieldLabel>
            </Field>
        </ModalBody>
        <ModalFooter>            
            <Button Color="Color.Primary" Clicked="@DeletePartner">Yes</Button>
            <Button Color="Color.Secondary" Clicked="@HideModal">No</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
